.tile {
	width: 190px;
	height: 190px;
	font-size: 60px;
	background: #B3E5FC;
	border-radius: 2px;
	display: inline-block;
	float: left;
	text-align: center;
	line-height: 175px;
	margin: 10px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

p {
	margin: 0px;
	padding: 0px;
	font-size: 140px;
	font-family: Roboto, sans-serif;
}

.x {
	color: #004D40;
}

.o {
	color: #FFFFFF;
}