button {
	display: inline-block;
	margin: 0 auto;
	margin-bottom: 10px;
	width: 50%;
	margin-left: -3%;
	font-size: 28px;
	font-weight: 900;
	border: none;
	border-radius: 1px;
	background-color: #E0E0E0;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	margin-top: 2vh;
}

.game-board {
	margin: 0 auto;
	width: 700px;
}

.menu {
	text-align: center;
}


